<div><b>Customer Name:</b> {{customerName}}</div>
<div><b>Customer Number:</b> {{customerNumber}}</div>
<form>
  <di>
    <input type="text" ng-model="cName" required />
  </di>
  <di>
    <input type="text" ng-model="cNumber" required />
  </di>
  <di>
    <button ng-click="changeCustomer();" >Change Customer</button>
  </di>
</form>
