<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="{{brandColor}}" href="#!/">{{label}}</a>
    </div>
    <!--Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{aboutActiveClass}}">
          <a href="#!about">About</a>
        </li>
        <li class="{{newActiveClass}}">
          <a href="#!newBlogPost">New</a>
        </li>
        <li class="">
          <a href="https://github.com/KenWilliamson">Download Project Code</a>
        </li>
        <li>
          <a href="#!logOut">Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
