<form ng-controller="AddCustomerCtrl" ng-submit="submit()">
  <div>
    <input ng-model="cName" required type="text"/>
  </div>
  <div>
    <input ng-model="cCity" required type="text"/>
  </div>
  <div>
    <button type="submit">Add Customer</button>
  </div>
</form>
